* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   // background: url(../img/sky.jpg) top center;
   background-color: #202020;
}

.container {
   max-width: 1111px;
   margin: 0 auto;
}

.hero__title {
   text-transform: uppercase;
   color: #fff;
   font-size: 40px;
   letter-spacing: -2px;
   font-weight: bold;
   display: flex;
   justify-content: center;

   img {
      width: 100px;
      padding-right: 10px;
   }
}

.hero__cards {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   padding: 0 5px;
}

.hero__card {
   width: 200px;
   margin: 10px;
   cursor: pointer;
   box-sizing: border-box;
   box-shadow: 0px 0px 7px 0px rgba(100,100,100,0.75);
   background-color: #151515;
   border-radius: 10px;
   transition: box-shadow .3s ease-in-out;

   &:hover {
      box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.75);
      transition: box-shadow .3s ease-in-out;

      .hero__photo img {
         transition: height .3s ease-in-out;
         height: 440px;
      }

      .hero__name {
         color: #DF004F;
         transition: color .3s ease-in-out;
      }

      .hero__real-name {
         color: #fff;
         transition: color .3s ease-in-out;
      }
   }

   .hero__photo {
      overflow: hidden;
      height: 260px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      border-radius: 10px 10px 0 0;

      img {
         height: 400px;
         transition: height .3s ease-in-out;
      }
   }

   .hero__name {
      color: #fff;
      padding: 15px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      transition: color .3s ease-in-out;
   }

   .hero__real-name {
      color: gray;
      padding: 0px 15px 15px 15px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      transition: color .3s ease-in-out;
   }
}

.hero__popup {
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(#333, .8);
}

.hero__card-big {
   width: 1024px;
   height: 630px;
   position: relative;
   margin: 0 auto;
   display: flex;
   background-color: #151515;

   .hero__popup-close-btn {
      position: absolute;
      right: 0;
      top: -38px;
      cursor: pointer;
      transition: background-color .3s ease;

      &:hover {
         background-color: rgba(red, .7);
         transition: background-color .3s ease;
      }

      img {
         width: 35px;
         height: 35px;
      }
   }

   .arrow {
      cursor: pointer;
      width: 40px;
      height: 60px;
      position: absolute;
      transition: background-color .3s ease;

      &:hover {
         transition: background-color .3s ease;
         background-color: rgba(red, .7);
      }
   }

   .arrow-left {
      background: url(../img/chevron-left.svg) center center no-repeat;
      background-size: 40px 40px;
      left: -25%;
      top: calc(50% - 20px);
   }

   .arrow-right {
      background: url(../img/chevron-right.svg) center center no-repeat;
      background-size: 40px 40px;
      right: -25%;
      top: calc(50% - 20px);
   }

   .hero__photo-big {
      width: 400px;

      img {
         width: 400px;
         height: 600px;
         padding-top: 30px;
         padding-left: 30px;
         object-fit: cover;
         object-position: top;
      }
   }

   .hero__info {
      padding: 30px 30px 30px 50px;

      .hero__big-name {
         color: #e62429;
         font-size: 34px;
         font-weight: bold;
         margin-bottom: 10px;
         text-transform: uppercase;
      }

      .hero__big-realname {
         color: #bbb;
         font-size: 24px;
         font-weight: 500;
         margin-bottom: 50px;
         text-transform: uppercase;
      }

      .hero__big-actors {
         color: #fff;
         font-size: 24px;
         font-weight: 400;
         margin-bottom: 10px;
         text-transform: uppercase;

         span {
            text-transform: lowercase;
         }
      }

      .hero__big-species {
         color: #fff;
         font-size: 24px;
         font-weight: 400;
         margin-bottom: 10px;
      }

      .hero__big-status {
         color: #fff;
         font-size: 24px;
         font-weight: 400;
         margin-bottom: 10px;
      }

      .hero__big-citizenship {
         color: #fff;
         font-size: 24px;
         font-weight: 400;
         margin-bottom: 50px;
      }

      .hero__big-movies {
         color: #fff;
         font-size: 24px;
         font-weight: 400;
         display: flex;
         flex-wrap: wrap;

         .movie {
            background-color: #801336;
            color: #fff;
            margin: 5px;
            padding: 5px;
            font-weight: 500;
            font-size: 18px;
         }
      }
   }
}

.hero__all-filters {
   display: none;
}